.gallery-options {
  display: inline-grid;
  grid-template-columns: 49vw 49vw;
  grid-template-rows: 50vh 50vh 50vh 50vh;
  margin: 10px 0 10px 10px;
  gap: 10px;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.grid-item:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.link-styling {
  text-decoration: none;
  color: white;
  font-size: 32px;
}

.centerpieces {
  background: url("/public/images/gallery/centerpiece-1.jpeg") center no-repeat;
  background-size: 49vw 75vh;
}

.stage-decor {
  background: url("/public/images/gallery/stage-decor1.png") center no-repeat;
  background-size: 49vw 50vh;
}

.reception-decor {
  background: url("/public/images/gallery/reception-1.jpeg") center no-repeat;
  background-size: 49vw 50vh;
}

.ceremonies {
  background: url("/public/images/gallery/ceremonies-1.jpg") center no-repeat;
  background-size: 49vw 50vh;
}

.bouquets {
  background: url("/public/images/gallery/bouquets-1.JPG") center no-repeat;
  background-size: 49vw 100vh;
}

.head-tables {
  background: url("/public/images/gallery/head-tables-1.jpg") center no-repeat;
  background-size: 49vw 50vh;
}
.cake-tables {
  background: url("/public/images/gallery/cake-tables-1.jpg") center no-repeat;
  background-size: 49vw 80vh;
  background-position-y: -30vh;
  margin-left: 50%;
}

@media screen and (max-width: 960px) {
  .gallery-options {
    grid-template-columns: 96vw;
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh 50vh;
  }
  .cake-tables {
    margin-left: 0;
  }
}
