h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #242424;
}

p {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial", Arial, sans-serif;
  color: #858484;
}

li {
  font-family: "Franklin Gothic Medium", "Arial", Arial, sans-serif;
}

ul {
  list-style: none;
}

.section-alt-text ul li:before {
  content: "✓";
}

.text-color-white {
  color: white;
}

.section-container {
  height: 210vh;
  width: 100%;
  margin-top: -5rem;
  background-color: #ffffff;
  border-bottom: 0.5 solid black;
}

.section-photo {
  float: right;
  position: relative;
  width: 40vw;
  height: 40vh;
  object-fit: cover;
  top: -3vh;
  left: -5vw;
  box-shadow: 0px 0px 15px rgb(159, 159, 159);
}

.section {
  /* margin-bottom: -5vh; */
  height: 50vh;
  width: 100%;
}

.section-text {
  width: 50%;
  height: 10vh;
  position: relative;
  top: 11vh;
  padding-left: 5%;
}

.section-alt {
  height: 50vh;
  width: 100%;
  margin-top: 20px;
}

.section-alt-text {
  position: relative;
  z-index: 99;
  float: right;
  width: 50%;
  padding-right: 70px;
}

.section-alt-photo {
  float: left;
  position: relative;
  width: 40vw;
  height: 50vh;
  object-fit: cover;
  left: 5%;
  box-shadow: 0px 0px 15px rgb(159, 159, 159);
  background: url("/public/images/alpha-staff.png") no-repeat;
  background-size: 100% 100%;
}

.cta {
  display: flex;
  background-color: black;
  width: 100%;
  height: 20vh;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.cta-text {
  color: white;
  font-size: 50px;
  padding-right: 18rem;
}

.cta-button {
  background-color: black;
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: solid 1px white;
  cursor: pointer;
  color: white;
  width: 20vw;
  height: 7vh;
  font-size: 20px;
  margin-right: 3rem;
}

.cta-button:hover {
  background-color: white;
  transition: all ease-out 0.2s;
  color: black;
}

#section-2-text {
  top: 2rem;
}

#section-4-text {
  top: 6rem;
}

#section-5-text {
  top: 7rem;
}

#section-6-text {
  top: 6rem;
}

#section-7-text {
  top: 6.3rem;
}

#cta-text-2 {
  padding-right: 20rem;
}
#cta-text-3 {
  padding-right: 34rem;
}
